{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="registration">
        <form action="{{ path("fos_user_security_check") }}" method="POST" class="fos_user_registration_register">
            <div class="main-container">

                <div class="col-md-12 text-center">
                    Log in to your Wedly Account.<br />
                    If you don't  have an account with us, please <a href="/register">create an account</a> now.
                    <br /><br /><br />
                </div>

                <div class="col-md-5">
                    <div>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'yahoo' }) }}" alt="Sign in with Facebook"  class="btn btn-info">
                            Login with Yahoo
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" alt="Sign in with Facebook"  class="btn btn-info">
                            Login with Google
                        </a>
                    </div>
                    <div>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook"  class="btn btn-info">
                            Login with Facebook
                        </a>
                    </div>
                </div>
                <div class="col-md-2">
                    OR
                </div>
                <div class="col-md-5">
                    {% if error %}
                        <div>{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                    <div class="form-group">
                        <input type="text" id="email" class="form-control" placeholder="Email Address" name="_email" value="" required="required" />
                    </div>

                    <div class="form-group">
                        <input type="password" id="password" class="form-control" placeholder="Password" name="_password" required="required" />
                    </div>

                    {#
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                    #}

                    <input type="submit" id="_submit" name="_submit" value="Login" />
                </div>

                <div class="clearfix"></div>
            </div>
        </form>
    </div>

{% endblock fos_user_content %}